In [6]:
import pandas as pd

df = pd.read_csv("../final_data.csv")
df.head()

   시도  일반수급자 인원     총인구수    범죄건수
0  서울    418212  9386034  275974
1  부산    230100  3293362  114070
2  대구    149706  2374960   67044
3  인천    167473  2997410   92690
4  광주     94051  1419237   52268

In [7]:
df["수급자비율"] = (df["일반수급자 인원"] / df["총인구수"]) * 100
df["범죄율"] = (df["범죄건수"] / df["총인구수"]) * 100000

df.head()

   시도  일반수급자 인원     총인구수    범죄건수     수급자비율          범죄율
0  서울    418212  9386034  275974  4.455684  2940.262096
1  부산    230100  3293362  114070  6.986781  3463.633819
2  대구    149706  2374960   67044  6.303517  2822.952808
3  인천    167473  2997410   92690  5.587257  3092.336384
4  광주     94051  1419237   52268  6.626871  3682.823940

In [8]:
corr = df[["수급자비율", "범죄율"]].corr().iloc[0, 1]
print("Correlation coefficient:", round(corr, 3))

Correlation coefficient: 0.52

In [9]:
df_clean = df[~df["시도"].isin(["세종", "제주"])]

corr_clean = df_clean[["수급자비율", "범죄율"]].corr().iloc[0, 1]
print("After outlier removal:", round(corr_clean, 3))

After outlier removal: 0.466

In [10]:
import statsmodels.api as sm

X = sm.add_constant(df_clean["수급자비율"])
y = df_clean["범죄율"]

model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    범죄율   R-squared:                       0.217
Model:                            OLS   Adj. R-squared:                  0.157
Method:                 Least Squares   F-statistic:                     3.598
Date:                Wed, 25 Feb 2026   Prob (F-statistic):             0.0803
Time:                        09:19:01   Log-Likelihood:                -105.02
No. Observations:                  15   AIC:                             214.0
Df Residuals:                      13   BIC:                             215.5
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       2355.9912    368.171      6.399      0.000    1560.606    3151.377
수급자비율        127.8710     67.409      1.897      0.080     -17.758     273.500
==============================================================================
Omnibus:                        0.709   Durbin-Watson:                   3.047
Prob(Omnibus):                  0.702   Jarque-Bera (JB):                0.662
Skew:                           0.415   Prob(JB):                        0.718
Kurtosis:                       2.392   Cond. No.                         28.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.